@using Portfolio.Services.Content.Utilities;
@using Portfolio.Services.Content.Portfolio;

@model ProjectModel;

<div class="card card-hoverEffect">

  <div class="card-header">
    <p class="card-title">
      <a asp-controller="PortfolioItem" asp-action="Index" asp-route-identifier="@Model.Slug">
        @Model.ProjectName
      </a>
    </p>
    @if (!string.IsNullOrEmpty(Model.ProjectSubtitle))
    {
      <p class="card-subtitle"><a asp-controller="PortfolioItem" asp-action="Index" asp-route-identifier="@Model.Slug">@Model.ProjectSubtitle</a></p>
    }
  </div>
  
  <div class="card-image">
    <div class="imageHolder">
      <a asp-controller="PortfolioItem" asp-action="Index" asp-route-identifier="@Model.Slug">
        <vc:content-image image="@Model.FeaturedImage" size="medium" use-placeholder="true" pixel="false" />
      </a>
      <div class="card-hover overlay">
        @if (!string.IsNullOrEmpty(Model.HoverImage))
        {
          <img src="~/@ResourceHelper.TransformName(Model.HoverImage, "medium")" loading="lazy" />
        }
        @if (Model.Links != null && Model.Links.Length != 0)
        {
          <!--
          <div class="overlay-bottom-right badge-bar badge-bar-vertical">
            @foreach (var link in Model.Links)
            {
              if (link.SiteName == "Play")
              {
                continue;
              }
              <a class="badge badge-lozenge" href="@link.Url" target="_blank">
                @if (!string.IsNullOrEmpty(link.Icon))
                {
                  <span class="mark mark-default mark-@link.Icon.ToLower()"></span>
                }
                @link.SiteName
              </a>
            }
          </div>
          -->
          <div class="overlay-top-right badge-bar">
            @foreach (var link in Model.Links)
            {
              if (link.SiteName != "Play")
              {
                continue;
              }

              <a class="badge badge-corner badge-corner-topright" href="@link.Url" target="_blank">
                @if (!string.IsNullOrEmpty(link.Icon))
                {
                  <span class="mark mark-default mark-@link.Icon.ToLower()"></span>
                }
                Play
              </a>
            }
          </div>
        }
      </div>
    </div>
  </div>

  <div class="card-body">
    @if (Model.Links != null)
    {
      <div class="iconannotationcloud">
        @foreach (var link in Model.Links)
        {
          if (link.SiteName == "Play")
          {
            continue;
          }
          <a class="iconannotation" href="@link.Url" target="_blank">
            <span class="mark mark-subtle mark-@link.Icon"></span>
          </a>
        }
      </div>
    }

    @if (Model.Badges != null && Model.Badges.Any(badge => badge.DisplayOnHomepage))
    {
      <div class="badgecloud">
        @foreach (var badge in Model.Badges)
        {
          if (badge.DisplayOnHomepage)
          {
            <div class="badge-tag">
              <span class="mark mark-subtle mark-pin-@badge.Icon"></span>@badge.Content
            </div>
          }
        }
      </div>
    }
  </div>

</div>
