@layout DefaultLayout
@page "/portfolio/starcitizen"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Star Citizen - Fydar",
            Description = "A next-generation AAA massively multiplayer online sandbox of life-size planets, moons, cities, space stations, asteroid belts, and more.",
            CanonicalUrl = "https://fydar.dev/portfolio/starcitizen",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/starcitizen/social.webp",
                    Alt = "Promotional material for the game 'Star Citizen'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Star Citizen",
                    Item = "https://fydar.dev/portfolio/starcitizen"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <div class="parallax-layer" style="--parallax-multiplier: 0.5;">
            <div class="blur" style="background: radial-gradient(100% 100% at 50% 50%, #1a1215 25%, #0d0d0e 100%);">
            </div>
        </div>

        <video class="parallax-layer" onloadeddata="this.classList.add('loaded');" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="@Assets["media/starcitizen/background.mp4"]" type="video/mp4">
        </video>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="@Assets["media/starcitizen/titlecard.svg"]" alt="Title card for the game 'Star Citizen'." />
        </picture>

        <SteamPlayButton href="https://robertsspaceindustries.com/star-citizen/play-now">Play Now</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #1a121500 0%, #1a121530 75%, #1a121514 100%), url('media/noise.svg');">
    </div>
</div>

<aside>
    <section>
        <h1>Star Citizen</h1>
    </section>
</aside>

<section class="container">

    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/52rTsrwZcGQ?si=H2talNo7mQx9f5LP" />

</section>

<SvgSpritesheet>

    <Fydar.Dev.WebApp.Toolkit.Icons.CustomIcons.DataForge />

</SvgSpritesheet>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="asset-reference-database">
            <Prefix>Creating the</Prefix>
            <Text>Asset Reference Database</Text>
            <Content>
                <p>My chief responsibility was the creation and maintainence of a tool called the <b>Asset Reference Database</b>. As the public roadmap for Star Citizen states:</p>

                <Blockquote>
                    <ChildContent>
                        <p>Create a tool to track relationships and dependencies between assets and produce asset graphs showing how an in-game entity is composed. This will allow improvements to the build system and easier asset management.</p>
                    </ChildContent>
                    <Source><cite><a href="https://robertsspaceindustries.com/roadmap/progress-tracker/deliverables" target="_blank">The Star Citizen public roadmap<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></cite>. Retrieved <time datetime="2024-03-8">March 8th, 2024</time>.</Source>
                </Blockquote>

                <p>I worked in a highly autonomous fashion on this singular tool alongside my other responsibilities for <b>1 year and 4 months</b>.</p>

                <p>The tool was an <b>ASP.NET Core</b> microservice with a <b>Blazor WebAssembly</b> frontend, which I created both. The tool was regularly scan source control for changes to assets and inform the build system. My tool was also used to detect duplicate assets in the build, of which there were <i>many</i>.</p>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>My tool allowed us to perform regular audits on our assets to detect gigabytes of duplicated data.</ChildContent>
                </Callout>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>My tool formed part of the incremental build pipeline for faster development times.</ChildContent>
                </Callout>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>My tool implemented a web frontend to allow developers to explore assets through their dependencies.</ChildContent>
                </Callout>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="data-forge">
            <Prefix>Tooling for Data Editing</Prefix>
            <Media><SvgSprite Link="#icon-dataforge" /></Media>
            <Text>Data Forge</Text>
            <Content>
                <p>Myself and a few other developers maintained the in-house tool for data editing called <i>'Data Forge'</i>. This tool needed constant maintainence to meet the needs of a plethora of other developers.</p>

                <figure class="figure-image">
                    <picture>
                        <img loading="lazy" src="@Assets["media/starcitizen/dataforge-screenshot-1.webp"]" alt="The Data Forge editor." />
                    </picture>
                    <figcaption>Screenshot of <i>'Data Forge'</i> from <i><a href="https://youtu.be/293kvgEkKb4?t=289" target="_blank">'Inside Star Citizen: On The Prowl | Fall 2019'<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></i>.</figcaption>
                </figure>

                <p>Working on the Cloud Imperium Games data editing tool inspired me to develop my own solution for the same problem.</p>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>I maintained a tool used by <b>hundreds of developers a day</b>.</ChildContent>
                </Callout>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="copy-build">
            <Prefix>Tooling for Install Management</Prefix>
            <Text>Copy Build</Text>
            <Content>
                <p>Another in-house tool I maintained called <i>'Copy Build'</i> allowed developers to download the latest build of the day. This would often require hundreds of gigabytes being downloaded.</p>

                <figure class="figure-image">
                    <picture>
                        <img loading="lazy" src="@Assets["media/starcitizen/copybuild-screenshot-1.webp"]" alt="The Copy Build application downloading a build of the game." />
                    </picture>
                    <figcaption>Screenshot of <i>'Copy Build'</i> from <i><a href="https://youtu.be/293kvgEkKb4?t=289" target="_blank">'Inside Star Citizen: On The Prowl | Fall 2019'<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></i>.</figcaption>
                </figure>

                <p>Working on this tool introduced me to <b>Qt Framework</b> using <b>C++</b>.</p>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="core-game-systems">
            <Prefix>Programming for</Prefix>
            <Text>Core Game Systems</Text>
            <Content>
                <p>Among my responsibilities working at Cloud Imperium Games was the maintainence of core game code for loading data. This required constant maintainence to fix a plethora of issues that occurred from having an older codebase doing things it was never designed to do.</p>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>I programmed core game client systems in <b>C++</b>.</ChildContent>
                </Callout>
            </Content>
        </Heading>

    </section>
</HeadingScope>
