@layout DefaultLayout
@page "/portfolio/uno"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "UNO™ - Fydar",
            Description = "One of the most iconic classic games which we all grew to know and love!",
            CanonicalUrl = "https://fydar.dev/portfolio/uno",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/uno/social.webp",
                    Alt = "Promotional material for the game 'UNO™'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "UNO™",
                    Item = "https://fydar.dev/portfolio/uno"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <div class="parallax-layer" style="--parallax-multiplier: 0.5;">
            <div class="blur" style="background: radial-gradient(20% 25% at 57% 40%, rgba(255,118,7,1) 16%, transparent), radial-gradient(100% 105% at 66% 60%, rgba(250,202,21,1) 2%, rgba(253,165,13,1) 12%, rgba(255,118,7,1) 26%, rgba(250,70,0,1) 36%, rgba(241,36,1,1) 43%, rgba(141,5,0,1) 77%, rgba(101,2,0,1) 100%);">
            </div>
        </div>

        <video class="parallax-layer" onloadeddata="this.classList.add('loaded');" style="--parallax-multiplier: 0.5; mix-blend-mode: screen;" autoplay muted loop>
            <source src="@Assets["media/uno/background.1440p.60fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
            <source src="@Assets["media/uno/background.1440p.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d401f"; profiles="isom,iso2,avc1,mp41"'>
        </video>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="@Assets["media/uno/logo.svg"]" alt="Title card for the game 'UNO'." />
        </picture>

        <SteamPlayButton href="https://www.ubisoft.com/en-gb/game/uno/uno">Visit on Ubisoft</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to left, rgba(250,202,21,0.125) 2%, rgba(253,165,13,0.125) 12%, rgba(255,118,7,0.125) 26%, rgba(250,70,0,0.125) 36%, rgba(241,36,1,0.125) 43%, rgba(141,5,0,0.125) 77%, rgba(101,2,0,0.125) 100%), url('media/noise.svg');">
    </div>
</div>

<aside>
    <section>
        <h1>UNO™</h1>
    </section>
</aside>

<section class="container">

    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/sthkAM0-P3I?si=SM-RixNhyfdDTb50" />

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="legacy-codebase">
            <Prefix>Bug fixing in a</Prefix>
            <Text>Legacy Codebase</Text>
            <Media><img src="@Assets["media/uno/green-1.webp"]" alt="A green UNO™ 1 card." /></Media>
            <Content>

                <p>The UNO™ codebase dates back to 2016 with the first release of the <b>Ubisoft</b> UNO™ game. As such, it inherited a lot of bugs over the many years of development it's received. My responsibility working on UNO was to address these bugs to earn community trust.</p>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="button-behaviour">
            <Prefix>Debugging, fixing, and polishing the</Prefix>
            <Text>Main Menu Button Behaviour</Text>
            <Media><img src="@Assets["media/uno/blue-2.webp"]" alt="A blue UNO™ 2 card." /></Media>
            <Content>

                <p>Whilst fixing bugs on some buttons in the game Main Menu I identified a whole host of troublesome behaviours. My best course of action was to completely rethink how these buttons work.</p>

                <p>Before we do that, though, let's analyse the old UI behaviour and see what issues we can identify with its design and implementation.</p>

                <h3>Issue 1: Inconsistent Hitboxes</h3>

                <p>When using the UI for the first time I noticed that the buttons had very inconsistent hitboxes. This was very frustrating to the point where I avoided using the buttons because of how bad their hitboxes were.</p>

                <figure class="figure-image">
                    <video autoplay muted loop>
                        <source src="@Assets["media/uno/issue1-before.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                        <source src="@Assets["media/uno/issue1-before.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                    </video>
                    <figcaption>Footage of the mouse hovering over the old main menu buttons.</figcaption>
                </figure>

                <p>I quickly realised that these hitboxes were inconsistent because the hitboxes were being scaled whilst the user hovered over the button. This is a common mistake which should be avoided.</p>

                <figure class="figure-image">
                    <video autoplay muted loop>
                        <source src="@Assets["media/uno/issue1-after.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                        <source src="@Assets["media/uno/issue1-after.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                    </video>
                    <figcaption>Footage of the mouse hovering over the new main menu buttons.</figcaption>
                </figure>

                <h3>Issue 2: No "Depressed" State </h3>

                <p>When clicking on the buttons using the mouse, keyboard, or controller button, there is no visual feedback.</p>

                <figure class="figure-image">
                    <video autoplay muted loop>
                        <source src="@Assets["media/uno/issue2-before.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                        <source src="@Assets["media/uno/issue2-before.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                    </video>
                    <figcaption>Footage of the mouse clicking on the old main menu buttons.</figcaption>
                </figure>

                <p>Without a depressed state on the button there is a significant disconnect between the user and the interface.</p>

                <figure class="figure-image">
                    <video autoplay muted loop>
                        <source src="@Assets["media/uno/issue2-after.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                        <source src="@Assets["media/uno/issue2-after.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                    </video>
                    <figcaption>Footage of the mouse clicking on the new main menu buttons.</figcaption>
                </figure>

                <h3>Issue 3: Inconsistent</h3>

                <p>There were quite a few inconsistencies with the old behaviour:</p>

                <ul>
                    <li>When you navigate between buttons using a controller there is no animation, unlike when you're using the mouse.</li>
                    <li>When you highlight the "profile" button using a mouse it glows, but it doesn't if you're using a controller.</li>
                    <li>Buttons animate out when you stop hovering using the mouse, but not when you hover.</li>
                    <li>Some buttons don't have labels that appear when you hover over them.</li>
                </ul>

                <figure class="figure-image">
                    <video autoplay muted loop>
                        <source src="@Assets["media/uno/issue3-before.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                        <source src="@Assets["media/uno/issue3-before.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                    </video>
                    <figcaption>Footage of controller navigation on the old main menu buttons.</figcaption>
                </figure>

                <p>With these inconsistencies, it can be difficult for the user to navigate the menu naturally.</p>

                <figure class="figure-image">
                    <video autoplay muted loop>
                        <source src="@Assets["media/uno/issue3-after.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                        <source src="@Assets["media/uno/issue3-after.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                    </video>
                    <figcaption>Footage of controller navigation on the new main menu buttons.</figcaption>
                </figure>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="overdraw">
            <Prefix>Technical Art</Prefix>
            <Text>Addressing Overdraw</Text>
            <Media><img src="@Assets["media/uno/red-3.webp"]" alt="A red UNO™ 3 card." /></Media>
            <Content>

                <p>The UNO™ Valhalla DLC features an alternative map where your cards do battle (higher value wins). This scene was plagued with performance issues, especially on XBOX. I was tasked with identifying what was causing the slowdown and fixing it.</p>

                <figure class="figure-image">
                    <picture class="media-wide">
                        <img src="@Assets["media/uno/valhalla-battle.webp"]" alt="The UNO™ Valhalla DLC battle map." loading="lazy" />
                    </picture>
                    <figcaption>The UNO™ Valhalla DLC "battle" screen that had performance issues.</figcaption>
                </figure>

                <p>When I first read the reports of performance issues on this scene I was immediately suspicious of the <a target="_blank" href="https://docs.unity3d.com/Manual/ParticleSystems.html">Unity Particle System<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a> used to produce the aurora effect that appears in the background because of my experience optimizing <a href="/portfolio/eitr">Eitr</a> for consoles.</p>

                <p>Using tools for identifying areas of significant overdraw, I was able to see that there was indeed areas of high overdraw caused by the particles. I reproduced the issue below. See how, on the left, how much "hotter"" the particles read?</p>

                <figure class="figure-image">
                    <picture class="media-wide">
                        <img src="@Assets["media/uno/valhalla-battle-godrays-overdraw.webp"]" alt="A comparison of different godray particles using the Overdraw debugger.." loading="lazy" />
                    </picture>
                    <figcaption><b>Left</b> is the slow Particle System; <b>Right</b> is the optimized Particle System; both viewed using the Overdraw debugger.</figcaption>
                </figure>

                <p>As you can see, the Overdraw has been significantly reduced in the optimized version. To accomplish this, I reduced the particle count and increased the opacity until the effect returned.</p>

                <figure class="figure-image">
                    <picture class="media-wide">
                        <img src="@Assets["media/uno/valhalla-battle-godrays-comparison.webp"]" alt="A comparison of different godray particles." loading="lazy" />
                    </picture>
                    <figcaption><b>Left</b> is the slow Particle System; <b>Right</b> is the optimized Particle System.</figcaption>
                </figure>

            </Content>
        </Heading>

    </section>
</HeadingScope>
