@model ProjectModel;

<div class="card card-hoverEffect">

	<div class="card-image">
		<div class="imageHolder">
			<a asp-controller="Portfolio" asp-action="Item" asp-route-identifier="@Model.Slug">
				<partial name="ResourceImage" model='new ResourceImageViewModel(Model.FeaturedImage, "medium")' />
			</a>
			<div class="card-hover overlay">
				@if (!string.IsNullOrEmpty(Model.HoverImage))
				{
					<img src="~/@ResourceHelper.TransformName(Model.HoverImage, "medium")" loading="lazy" />
				}
				@if (Model.Links != null && Model.Links.Length != 0)
				{
					<div class="overlay-bottom-right badge-bar badge-bar-vertical">
						@foreach (var link in Model.Links)
						{
							<a class="badge badge-lozenge" href="@link.Url" target="_blank">
								@if (!string.IsNullOrEmpty(link.Icon))
								{
									<span class="pin pin-@link.Icon.ToLower()"></span>
								}
								@link.SiteName
							</a>
						}
					</div>
				}
			</div>
		</div>
	</div>

	<div class="card-header">
		<p class="card-title"><a asp-controller="Portfolio" asp-action="Item" asp-route-identifier="@Model.Slug">@Model.ProjectName</a></p>
		@if (!string.IsNullOrEmpty(Model.ProjectSubtitle))
		{
			<p class="card-subtitle"><a asp-controller="Portfolio" asp-action="Item" asp-route-identifier="@Model.Slug">@Model.ProjectSubtitle</a></p>
		}
	</div>

	<div class="card-body">
		@if (Model.Badges != null && Model.Badges.Any(badge => badge.DisplayOnHomepage))
		{
			<div class="badge-bar badge-bar-subtle">
				@foreach (var badge in Model.Badges)
				{
					if (badge.DisplayOnHomepage)
					{
						<div class="badge"><span class="pin pin-@badge.Icon"></span>@badge.Content</div>
					}
				}
			</div>
		}
	</div>

</div>
