@model ProjectModel;

<div class="portfolio-item">
	<div class="imageArea">
		<div class="imageHolder">
			<a asp-controller="Portfolio" asp-action="Item" asp-route-projectIdentifier="@Model.Slug">
				<img src="~/@ResourceHelper.TransformName(Model.FeaturedImage, "medium")" />
			</a>
			<div class="portfolio-item-info">
				@if (!string.IsNullOrEmpty(Model.HoverImage))
				{
					<img src="~/@ResourceHelper.TransformName(Model.HoverImage, "medium")" />
				}
				@if (Model.Links != null && Model.Links.Length != 0)
				{
					<div class="portfolio-item-info-group">
						@foreach (var link in Model.Links)
						{
							<a class="portfolio-item-info-group-item " href="@link.Url" target="_blank">
								@if (!string.IsNullOrEmpty(link.Icon))
								{
									<span class="pin pin-@link.Icon.ToLower()"></span>
								}
								@link.SiteName
							</a>
						}
					</div>
				}
			</div>
		</div>
	</div>

	<h1 class="portfolio-title"><a asp-controller="Portfolio" asp-action="Item" asp-route-projectIdentifier="@Model.Slug">@Model.ProjectName</a></h1>
	<div class="portfolio-meta">
		<span class="pin pin-location"></span>Brighton
		<span class="pin pin-date"></span>July 2018 - Present
	</div>
</div>
