@using Portfolio.Site.Areas.Portfolio.Controllers
@using Portfolio.Site.Services.PageMetaProvider;

<!DOCTYPE html>
<html lang="en">
<head>
  @{
    string? title = ViewData["Title"] as string;
  }
  @if (string.IsNullOrEmpty(title))
  {
    <title>Anthony Marmont</title>
  }
  else
  {
    <title>@ViewData["Title"] - Anthony Marmont</title>
  }

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  @ViewData.GetPageMetadata()

  <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/patio/patio.min.css" asp-append-version="true" />
</head>
<body class="dark">

  @{
    string? pageTitle = ViewData["Title"] as string;
    bool fullscreen = string.IsNullOrEmpty(pageTitle);
    string area = ViewContext.RouteData.Values["Area"]?.ToString() ?? "";
  }

  <section class="navbar" id="navbar">
    <div class="navbar-grouping">
      <a class="nav-button @(area == "Portfolio" ? "active" : "")" asp-area="Portfolio" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
      <a class="nav-button @(area == "Contact" ? "active" : "")" asp-area="Contact" asp-controller="Contact" asp-action="Index">Contact</a>
    </div>
  </section>

  <section class="container">
    <section class="profile profile-background">
      <h1 style="font-size: 2.5rem;margin: 0.5rem 0 0.5rem 0;">Anthony Marmont</h1>
      <h1 style="margin: 0.5rem 0 0.5rem 0;font-style: italic;color: #828282;">'Fydar'</h1>
      <p>I'm passionate about what I do (making stuff).</p>
      <p class="badgecloud">
        <a class="mark mark-rounded mark-youtube" target="_blank" href="https://www.youtube.com/channel/UCEEI1m2TCso1OGWEHvHS20g"></a>
        <a class="mark mark-rounded mark-itch-io" target="_blank" href="https://fydar.itch.io/"></a>
        <a class="mark mark-rounded mark-linkedin" target="_blank" href="https://www.linkedin.com/in/anthonymarmont/"></a>
        <a class="mark mark-rounded mark-github" target="_blank" href="https://github.com/Fydar"></a>
        <a class="mark mark-rounded mark-twitter" target="_blank" href="https://twitter.com/Fydarus"></a>
      </p>
    </section>
  </section>

  @RenderBody()

  <section class="website-footer">
    <div class="container">
      <p>&copy; 2020 Anthony Marmont</p>
    </div>
  </section>

  <script src="~/patio/patio.min.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>
