@using Fydar.Dev.WebApp.Components.CoverArt;

@layout DefaultLayout
@page "/resume"

@inject NavigationManager NavigationManager

<PageTitle>Resume - Fydar</PageTitle>

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Resume - Fydar",
            Description = "Fydar is a game developer and engineer who thrives when pushing technical boundaries and creating memorable experiences.",
            CanonicalUrl = "https://fydar.dev/resume",
            Properties = [
        new OpenGraphModelImage()
        {
        Url = "https://fydar.dev/media/header.webp",
        Alt = "A portrait of Fydar in an anime art style."
        }
        ]
        };
        var linkData = new LinkData()
        {
        new LinkDataBreadcrumbList()
        {
        new LinkDataBreadcrumbListItem()
        {
        Name = "Resume",
        Item = "https://fydar.dev/resume/"
        }
        }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

@{
    string explicitBaseUri = "https://fydar.dev";

    if (NavigationManager.BaseUri == "https://fydar.dev/")
    {
        explicitBaseUri = "";
    }
}

<article class="resume">

    <section class="page page-coverletter">

        <div class="page-coverletter-header" data-nosnippet>
            <h1>Fydar</h1>
        </div>

        <div data-nosnippet>
            <ul class="page-coverletter-details" dir="ltr">
                <li><p><SvgSprite Link="/icons.svg?v=1#icon-home" Alt="Location" />Brighton, UK</p></li>
                <li><ScrapeProofLink LinkText="contact@fydar.dev" LinkDestination="mailto:contact@fydar.dev" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-email" Alt="Email" /></ScrapeProofLink></li>
                <li><a href="@explicitBaseUri/" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-fydar-round" Alt="Portfolio Website" />https://fydar.dev/<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
                <li><a href="https://github.com/Fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" />@@Fydar<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
                <li><a href="https://www.linkedin.com/in/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-linkedin-inverted" Alt="LinkedIn" />/in/fydar<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
            </ul>
        </div>

        <p data-nosnippet>Greetings,</p>
        <div class="spacer"></div>

        <p>I am a programmer with <b>7 years</b> of experience working in the <b>Games Development</b> industry. I have worked on <a href="@explicitBaseUri/#titles" class="textual-link" target="_blank">8 commercial titles<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a> and I have an extensive portfolio of other works.</p>

        <p data-nosnippet>
            <a class="link-tag" href="@explicitBaseUri/portfolio/eitr" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />EITR<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/legostarwarsbattles" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />LEGO® Star Wars™ Battles<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <br />
            <a class="link-tag" href="@explicitBaseUri/portfolio/starcitizen" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Star Citizen<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/starcitizen" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Squadron 42<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/outrage" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />OutRage: Fight Fest<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <br />
            <a class="link-tag" href="@explicitBaseUri/portfolio/southfield" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Southfield<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/uno" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />UNO™<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/phasmophobia" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Phasmophobia<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
        </p>

        <div class="spacer"></div>

        <p>My career has been diverse, spanning a range of disciplines in the Games Development industry, making me a <b>highly versatile candidate</b> for any role.</p>

        <ul>
            <li><b><a href="@explicitBaseUri/portfolio/backend" class="textual-link" target="_blank">Backend Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for highly scalable, distributed cloud microservices and dedicated servers</li>
            <li><b><a href="@explicitBaseUri/portfolio/systems" class="textual-link" target="_blank">Systems Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for performance-critical and complex systems</li>
            <li><b><a href="@explicitBaseUri/portfolio/tools" class="textual-link" target="_blank">Tools Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for technical art, game design, game data authoring, and asset management</li>
            <li><b><a href="@explicitBaseUri/portfolio/multiplayer" class="textual-link" target="_blank">Multiplayer Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for game clients, meta-game servers, and realtime game servers</li>
            <li><b><a href="@explicitBaseUri/portfolio/gameplay" class="textual-link" target="_blank">Gameplay Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> with a keen understanding of satisfying mechanics</li>
            <li><b><a href="@explicitBaseUri/portfolio/technicalart" class="textual-link" target="_blank">Technical Artist<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for asset pipelines and artist tooling</li>
        </ul>

        <div class="spacer"></div>

        <p>In addition to my professional experience in the above disciplines, I'm also a very active hobbyist developer. I regularly participate in game jams, many of which are available on my portfolio website. These serve as a great opportunity for me to push the boundaries of my knowledge with new techniques and the latest technologies.</p>

        <div class="spacer"></div>

        <p>Thank you for your consideration.</p>

        <div class="spacer"></div>

        <p>Sincerely,<br />Fydar</p>

        <SvgSprite class="signature-signed" width="200" height="100" Link="/icons.svg?v=1#icon-fydar-signature" Alt="Fydar's signature." />
        <p><span class="phonetics">/&#952;a&#618;d&#593;r/</span></p>
    </section>

    <section class="page page-experience">

        <h1 id="experience">Professional Experience</h1>

        <div class="capsule-tag-cloud" style="margin-bottom: 12pt;">
            <a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/systems" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Systems Engineering</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/backend" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Backend Engineering</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/tools" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Tools Programming</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/gameplay" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Gameplay Programming</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="capsule-tag palette-multiplayer" href="@explicitBaseUri/portfolio/multiplayer" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--users-group" Alt="Multiplayer Programming" /><p>Multiplayer Programming</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="capsule-tag palette-technicalart" href="@explicitBaseUri/portfolio/technicalart" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" /><p>Technical Art</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
        </div>

        <div style="height: 52pt;"></div>

        <div class="timeline">

            <div class="timeline-icon">
                <picture>
                    <img src="@Assets["media/companies/kineticgames/logo_200x200.png"]" alt="The logo for 'Kinetic Games'.">
                </picture>
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2025</div>
            </div>

            <div class="timeline-header">
                <h2>Kinetic Games</h2>
                <p class="subtitle2">
                    <span class="textual-tag">Full-time</span>
                    <span class="textual-tag">Indie</span>
                    <span class="textual-tag">3 months</span>
                </p>
                <p class="subtitle3">
                    <span class="textual-tag">Southampton, United Kingdom</span>
                    <span class="textual-tag">Hybrid</span>
                </p>
            </div>

            <a class="timeline-media-header" target="_blank" href="@explicitBaseUri/portfolio/phasmophobia">Phasmophobia<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <div class="timeline-media">
                <img src="@Assets["media/phasmophobia/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Phasmophobia'." />
                <div class="timeline-media-body">
                    <div class="capsule-tag-cloud">
                        <a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/phasmophobia#more-to-come" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Future Updates</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/phasmophobia#more-to-come" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Bug Fixing</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <div style="width: 90pt"></div>
                        <a class="capsule-tag palette-technicalart" href="@explicitBaseUri/portfolio/phasmophobia#setpass-calls" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" /><p>Technical Art</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                    </div>
                </div>
            </div>

            <div class="timeline-position palette-gameplay">
                <SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" />
                <h3>Senior Gameplay Programmer</h3>
                <p class="subtitle2">
                    <span class="textual-tag">December 2024 – March 2025</span>
                    <span class="textual-tag">3 mos</span>
                </p>
            </div>

        </div>

        <div class="timeline">

            <div class="timeline-icon">
                <picture>
                    <img src="@Assets["media/companies/snapfingerclick/logo_200x200.png"]" alt="The logo for 'Snap Finger Click'.">
                </picture>
            </div>

            <div class="timeline-years">
            </div>

            <div class="timeline-header">
                <h2>Snap Finger Click</h2>
                <p class="subtitle2">
                    <span class="textual-tag">Full-time</span>
                    <span class="textual-tag">AA</span>
                    <span class="textual-tag">5 months</span>
                </p>
                <p class="subtitle3">
                    <span class="textual-tag">Brighton, United Kingdom</span>
                    <span class="textual-tag">Remote</span>
                </p>
            </div>

            <a class="timeline-media-header" target="_blank" href="@explicitBaseUri/portfolio/uno">UNO™<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>

            <div class="timeline-media">
                <img src="@Assets["media/uno/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'UNO™'." />
                <div class="timeline-media-body">

                    <div class="capsule-tag-cloud">
                        <a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/uno#button-behaviour" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Main Menu Buttons</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/uno#legacy-codebase" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Bug Fixing</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <div style="width: 90pt"></div>
                        <a class="capsule-tag palette-technicalart" href="@explicitBaseUri/portfolio/uno#overdraw" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" /><p>Technical Art</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                    </div>
                </div>
            </div>

            <div class="timeline-position palette-gameplay">
                <SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" />
                <h3>Senior Gameplay Programmer</h3>
                <p class="subtitle2">
                    <span class="textual-tag">July 2024 – November 2024</span>
                    <span class="textual-tag">5 mos</span>
                </p>
            </div>

        </div>

        <div class="timeline">

            <div class="timeline-icon">
                <picture>
                    <img src="@Assets["media/companies/radicalforge/logo_200x200.jpg"]" alt="The logo for 'Radical Forge'.">
                </picture>
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2024</div>
                <div class="timeline-year">2023</div>
                <div class="timeline-year">2022</div>
            </div>

            <div class="timeline-header">
                <h2>Radical Forge</h2>
                <p class="subtitle2">
                    <span class="textual-tag">Full-time</span>
                    <span class="textual-tag">AA</span>
                    <span class="textual-tag">1 year, 7 months</span>
                </p>
                <p class="subtitle3">
                    <span class="textual-tag">Middlesbrough, United Kingdom</span>
                    <span class="textual-tag">Remote</span>
                </p>
            </div>

            <a class="timeline-media-header" target="_blank" href="@explicitBaseUri/portfolio/southfield">Southfield<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>

            <div class="timeline-media">
                <img src="@Assets["media/southfield/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Southfield'." />
                <div class="timeline-media-body">
                    <div class="capsule-tag-cloud">
                        <a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/southfield#gradient-recolouring" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Gradient Recolouring</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/southfield#icon-generation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Icon Generation</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/southfield#texture-atlasing" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Texture Atlasing</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/southfield#level-design-and-procedural-generation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Prop Placement Brushes</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/southfield#cinematic-camera" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Cinematic Camera</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                    </div>
                </div>
            </div>

            <div class="timeline-position palette-tools">
                <SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" />
                <h3>Senior Tools Programmer</h3>
                <p class="subtitle2">
                    <span class="textual-tag">September 2022 – March 2024</span>
                    <span class="textual-tag">1 yr, 7 mos</span>
                </p>
            </div>

            <a class="timeline-position palette-technicalart" target="_blank" href="https://www.gamesindustry.biz/technical-art-roles-what-they-are-and-how-to-get-one">
                <SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" />
                <h3>EGX 2023 Panellist<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
                <p class="subtitle2">'Technical art roles: What they are, and how to get one'</p>
            </a>

            <!--
            <a href="https://www.gamesindustry.biz/technical-art-roles-what-they-are-and-how-to-get-one" target="_blank" class="timeline-media">
                <img src="@Assets["media/companies/radicalforge/egx-thumbnail.webp"]" alt="From left to right, Fydar, Luna, Piotr, and Bruce at EGX." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">EGX 2023 Panellist<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                    <p class="timeline-media-body-description">I represented Radical Forge at <b>EGX 2023</b> on a <b>GamesIndustry.biz</b> panel called <b>'Technical art roles: What they are, and how to get one'</b>.</p>
                </div>
            </a>
            -->

        </div>

    </section>


    <section class="page page-projects">

        <div class="timeline">

            <div class="timeline-icon">
                <SvgSprite Link="/icons.svg?v=1#icon-hardballgames" Alt="The logo for 'Hardball Games'." />
            </div>

            <div class="timeline-years">
            </div>

            <div class="timeline-header">
                <h2>Hardball Games</h2>
                <p class="subtitle2">
                    <span class="textual-tag">Full-time</span>
                    <span class="textual-tag">AA</span>
                    <span class="textual-tag">3 months</span>
                </p>
                <p class="subtitle3">
                    <span class="textual-tag">Brighton, United Kingdom</span>
                    <span class="textual-tag">Hybrid</span>
                </p>
            </div>

            <a class="timeline-media-header" target="_blank" href="@explicitBaseUri/portfolio/outrage">OutRage: Fight Fest<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>

            <div target="_blank" class="timeline-media">
                <img src="@Assets["media/outrage/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'OutRage: Fight Fest'." />
                <div class="timeline-media-body">
                    <div class="capsule-tag-cloud">
                        <a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/outrage#throwing-props" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Environmental Combat</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <div style="width: 90pt"></div>
                        <a class="capsule-tag palette-multiplayer" href="@explicitBaseUri/portfolio/outrage#deterministic-simulation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--users-group" Alt="Multiplayer Programming" /><p>Deterministic Simulation</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                    </div>
                </div>
            </div>

            <div class="timeline-position palette-gameplay">
                <SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" />
                <h3>Senior Gameplay Programmer</h3>
                <p class="subtitle2">
                    <span class="textual-tag">April 2022 – June 2022</span>
                    <span class="textual-tag">3 mos</span>
                </p>
            </div>

        </div>

        <div class="timeline">

            <div class="timeline-icon">
                <SvgSprite Link="/icons.svg?v=1#icon-cloudimperiumgames" Alt="The logo for 'Cloud Imperium Games'." />
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2022</div>
                <div class="timeline-year">2021</div>
            </div>

            <div class="timeline-header">
                <h2>Cloud Imperium Games</h2>
                <p class="subtitle2">
                    <span class="textual-tag">Full-time</span>
                    <span class="textual-tag">AAA</span>
                    <span class="textual-tag">1 years, 8 months</span>
                </p>
                <p class="subtitle3">
                    <span class="textual-tag">Wilmslow, United Kingdom</span>
                    <span class="textual-tag">Remote</span>
                </p>
            </div>

            <a class="timeline-media-header" target="_blank" href="@explicitBaseUri/portfolio/starcitizen">Star Citizen and Squadron 42<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>

            <div class="timeline-media">
                <img src="@Assets["media/starcitizen/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Star Citizen'." />
                <div class="timeline-media-body">
                    <div class="capsule-tag-cloud">
                        <a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/starcitizen#asset-reference-database" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Asset Reference Database</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/starcitizen#data-forge" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Data Editor</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/starcitizen#copy-build" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Install Manager</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/starcitizen#core-game-systems" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Core Game Systems</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                    </div>
                </div>
            </div>

            <div class="timeline-position palette-tools">
                <SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" />
                <h3>Tools Programmer</h3>
                <p class="subtitle2">
                    <span class="textual-tag">September 2020 – April 2022</span>
                    <span class="textual-tag">1 yrs 8 mos</span>
                </p>
            </div>

        </div>

        <div class="timeline">

            <div class="timeline-icon">
                <picture>
                    <img src="@Assets["media/companies/ttgames/logo.png"]" alt="The logo for 'TT Games'.">
                </picture>
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2020</div>
                <div class="timeline-year">2019</div>
            </div>

            <div class="timeline-header">
                <h2>TT Games</h2>
                <p class="subtitle2">
                    <span class="textual-tag">Full-time</span>
                    <span class="textual-tag">AA</span>
                    <span class="textual-tag">2 years, 3 months</span>
                </p>
                <p class="subtitle3">
                    <span class="textual-tag">Brighton, United Kingdom</span>
                    <span class="textual-tag">On-site</span>
                </p>
            </div>

            <a class="timeline-media-header" target="_blank" href="@explicitBaseUri/portfolio/legostarwarsbattles">LEGO® Star Wars™ Battles<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>

            <div target="_blank" class="timeline-media">
                <img src="@Assets["media/legostarwarsbattles/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'LEGO® Star Wars™ Battles'." />
                <div class="timeline-media-body">
                    <div class="capsule-tag-cloud">
                        <a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#leaderboards" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Leaderboards</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#clans" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Clans</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#username-moderation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Username Moderation</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#server-side-receipt-validation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Receipt Validation</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#updates-and-data-delivery" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Data Delivery</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                    </div>
                </div>
            </div>

            <div class="timeline-position palette-backend">
                <SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" />
                <h3>Server Programmer</h3>
                <p class="subtitle2">
                    <span class="textual-tag">May 2019 – September 2020</span>
                    <span class="textual-tag">1 yr 5 mos</span>
                </p>
            </div>

            <div class="timeline-position palette-backend">
                <SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" />
                <h3>Junior Server Programmer</h3>
                <p class="subtitle2">
                    <span class="textual-tag">July 2018 – May 2019</span>
                    <span class="textual-tag">10 mos</span>
                </p>
            </div>

        </div>

        <div class="timeline">

            <div class="timeline-icon">
                <picture>
                    <img src="@Assets["media/companies/enemeentertainment/enemeentertainment-logo.png"]" alt="The logo for 'Eneme Entertainment'." style="image-rendering: pixelated; background-color: black;">
                </picture>
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2018</div>
                <div class="timeline-year">2017</div>
            </div>

            <div class="timeline-header">
                <h2>Eneme Entertainment</h2>
                <p class="subtitle2">
                    <span class="textual-tag">Full-time</span>
                    <span class="textual-tag">Indie</span>
                    <span class="textual-tag">1 year</span>
                </p>
                <p class="subtitle3">
                    <span class="textual-tag">London, United Kingdom</span>
                    <span class="textual-tag">Remote</span>
                </p>
            </div>

            <a class="timeline-media-header" target="_blank" href="@explicitBaseUri/portfolio/eitr">EITR<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>

            <div target="_blank" class="timeline-media">
                <img src="@Assets["media/eitr/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'EITR'." />
                <div class="timeline-media-body">
                    <div class="capsule-tag-cloud">
                        <a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#inventories" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Inventories</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#items" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Items</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#achievements" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Achievements</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#input-mapping" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Input Mapping</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#stats" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Character Stats</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#tooltips" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Tooltips</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                        <a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/eitr#skill-tree-editing" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Skill Tree Editor</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
                    </div>
                </div>
            </div>

            <div class="timeline-position palette-systems">
                <SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" />
                <h3>Systems Programmer</h3>
                <p class="subtitle2">
                    <span class="textual-tag">July 2017 – July 2018</span>
                    <span class="textual-tag">1 yr</span>
                </p>
            </div>

        </div>

    </section>

    <section class="page page-projects">

        <h1 id="education">Education</h1>

        <div class="timeline palette-northbrook">

            <div class="timeline-icon">
                <SvgSprite Link="/icons.svg?v=1#icon-northbrook-college" Alt="The logo for 'Northbrook College'." style="background-color: #DA3C10; color: #fff;" />
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2018</div>
                <div class="timeline-year">2017</div>
                <div class="timeline-year">2016</div>
            </div>

            <div class="timeline-header">
                <h2>Northbrook College<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h2>
                <p class="subtitle3">Worthing, United Kingdom</p>
            </div>

            <a class="timeline-header-link" target="_blank" href="@explicitBaseUri/portfolio/northbrook"></a>

            <a class="timeline-position" target="_blank" href="@explicitBaseUri/portfolio/northbrook#extended-diploma" style="margin-top: 16pt;">
                <SvgSprite Link="/icons.svg?v=1#icon-northbrook-college" Alt="Northbrook College" style="color: #DA3C10; width: 28pt; height: 28pt; left: 6pt; transform: translateY(-14pt);" />
                <h3>Extended Diploma in Games Development<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
                <p class="subtitle2">
                    <span class="textual-tag">2017 – 2018</span>
                    <span class="textual-tag">Distinction</span>
                </p>
            </a>

            <div class="timeline-position-details">
                <p>It was towards the end of this course that I started my work at 'Eneme Entertainment' on the indie title 'EITR'.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/thedwellers" target="_blank" class="timeline-media">
                <img src="@Assets["media/thedwellers/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'The Dwellers'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">The Dwellers<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-media-body-description">A dungeon crawler with a powerful node-based editor for the RPG system.</p>
                </div>
            </a>

            <a href="@explicitBaseUri/portfolio/voxelmultiplayer" target="_blank" class="timeline-media">
                <img src="@Assets["media/voxelmultiplayer/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Voxel Multiplayer'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">Voxel Multiplayer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-media-body-description">Fully bespoke voxel rendering system to create a 'Cube World' style game with a multiplayer component.</p>
                </div>
            </a>

            <a class="timeline-position" target="_blank" href="@explicitBaseUri/portfolio/northbrook#diploma" style="margin-top: 16pt;">
                <SvgSprite Link="/icons.svg?v=1#icon-northbrook-college" Alt="Northbrook College" style="color: #DA3C10; width: 28pt; height: 28pt; left: 6pt; transform: translateY(-14pt);" />
                <h3>Diploma in Games Development<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
                <p class="subtitle2">
                    <span class="textual-tag">2016 – 2017</span>
                    <span class="textual-tag">Distinction</span>
                </p>
            </a>

            <div class="timeline-position-details">
                <p>I joined this course with a strong understanding of game development and programming from my hobbyist experience. This course offered me the freedom to explore programming concepts at my speed. I also had the opportunity to learn the fundamentals of 2D and 3D art.</p>

                <p>I became familiar with 3DS Max which became my tool of choice. This benefited my understanding of 3D graphics greatly. The 3D artistry later inspired my exploration of Substance Designer and other tech art tools.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/thenewearthconflict" target="_blank" class="timeline-media">
                <img src="@Assets["media/thenewearthconflict/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'The New Earth Conflict'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">The New Earth Conflict<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-media-body-description">A realtime space strategy game where the player takes the pilot seat of a battleship.</p>
                </div>
            </a>

            <a href="@explicitBaseUri/portfolio/cryptcrawl" target="_blank" class="timeline-media">
                <img src="@Assets["media/cryptcrawl/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Crypt Crawl'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">Crypt Crawl<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-media-body-description">A pixel art dungeon crawler with dungeon textures generated in Substance Designer.</p>
                </div>
            </a>
        </div>
    </section>

    <section class="page page-experience">

        <h1 id="game-jams">Game Jams</h1>

        <div class="timeline">

            <div class="timeline-icon" style="background-color: #aec159; padding: 4pt; border-radius: 2pt;">
                <SvgSprite Link="/icons.svg?v=1#icon-gbjam" Alt="The logo for 'GBJAM'." />
            </div>

            <div class="timeline-header">
                <h2>GBJAM 8</h2>
                <p class="subtitle2">
                    <span class="textual-tag">September 2022</span>
                    <span class="textual-tag">1 week</span>
                    <span class="textual-tag">Solo</span>
                </p>
            </div>

            <div class="timeline-position-details">
                <p>I can't remember why I finally decided on the project idea, but once I did, the first thing I made was a <b>shader</b> that could emulate the style and feel of a Game Boy game. I then used <b>Pyxel Edit</b> to create the pixel art tilesets used for the character, terrain, and mining minigame. </p>

                <p>I especially enjoyed creating the <b>procedural generation</b> systems to firstly create the maps and then scatter minable resources underneath the rock. I created the entire game using a single entrypoint, as opposed to the <b>Unity</b> component based <b>IoC</b> (inversion of control).</p>
            </div>

            <a href="@explicitBaseUri/portfolio/miniminer" target="_blank" class="timeline-media">
                <img src="@Assets["media/miniminer/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Mini Miner'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">Mini Miner<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-media-body-description">The Game Boy demake of the Nintendo DS <i>Pokémon Diamond and Pearl</i> underground mining minigame.</p>
                </div>
            </a>

        </div>


        <div class="timeline">

            <div class="timeline-icon">
                <SvgSprite Link="/icons.svg?v=1#icon-ludumdare" Alt="The logo for 'Ludum Dare'." />
            </div>

            <div class="timeline-header">
                <h2>Ludum Dare 46 Compo</h2>
                <p class="subtitle2">
                    <span class="textual-tag">April 2020</span>
                    <span class="textual-tag">48 hours</span>
                    <span class="textual-tag">Solo</span>
                </p>
            </div>

            <div class="timeline-position-details">
                <p>Upon hearing the theme 'Keep it alive' I immediately recalled my days playing the "Healer" in MMORPG raids and wanted to create a UI-only version of my experiences.</p>

                <p>I also explored new scripting methods to create <b>abilities</b> in RPG games, as I wanted to be able to create a system that would allow me to add multiple unique ways of healing your allies.</p>

                <p>I'm very proud of the overall experience, primarily because of it’s difficulty. It may take several playthroughs to complete, but it is doable once you know what you are down.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/raidhealersimulator" target="_blank" class="timeline-media">
                <img src="@Assets["media/raidhealersimulator/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Raid Healer Simulator'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">Raid Healer Simulator<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-media-body-description">The simulation experience of what it’s like to be a healer in an MMORPG raid, complete with a variety of abilities and a challenging boss battle.</p>
                </div>
            </a>

        </div>


        <div class="timeline">

            <div class="timeline-icon" style="background-color: #13171a; padding: 8pt; border-radius: 2pt;">
                <SvgSprite Link="/icons.svg?v=1#icon-astralelites" Alt="The logo for 'Astral Elites'." />
            </div>

            <div class="timeline-header">
                <h2>Asteroids Clone</h2>
                <p class="subtitle2">
                    <span class="textual-tag">July 2018</span>
                    <span class="textual-tag">8 hours</span>
                    <span class="textual-tag">Solo</span>
                </p>
            </div>

            <div class="timeline-position-details">
                <p>For this Asteroids clone, the first thing I implemented was <b>procedurally generated asteroid meshes</b>. I then utilised Unity’s 2D physics engine to fling those asteroids into the centre of the arena.</p>

                <p>After the code test concluded, I added Discord integration via the <b>Discord SDK</b>.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/astralelites" target="_blank" class="timeline-media">
                <img src="@Assets["media/astralelites/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Astral Elites'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">Astral Elites<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-media-body-description">The physics-based and fast-paced asteroid clone for the modern era, complete with Discord integration.</p>
                </div>
            </a>

        </div>

    </section>

    <!--
    <section class="page page-experience">

        <div class="timeline">

            <div class="timeline-icon" style="background-color: #252260; padding: 6pt; border-radius: 50%;">
                <SvgSprite Link="/icons.svg?v=1#icon-globalgamejam" Alt="The logo for 'Global Game Jam'." />
            </div>

            <div class="timeline-header">
                <h2>Global Game Jam</h2>
                <p class="subtitle3">Once Annually · 48 hours</p>
            </div>

            <div class="timeline-position palette-magenta">
                <h3>Global Game Jam 2021</h3>
                <p class="subtitle2">January 2021 · Themed 'Lost and Found' · Solo</p>
            </div>

            <div class="timeline-position-details">
                <p>I was inspired by <b>Agar.io</b> and other in-browser multiplayer games create my own ".io" style game. To do so, I used <b>Blazor WebAssembly</b> to create a realtime game client that connects to an <b>ASP.NET Core</b> server via <b>WebSockets</b>.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/pewpew" target="_blank" class="timeline-media">
                <img src="@Assets["media/pewpew/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Pew Pew'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">Pew Pew</p>
                    <p class="timeline-media-body-description">Coordinate with your team in a multiplayer space-shooter.</p>
                </div>
            </a>

            <div class="timeline-position palette-magenta">
                <h3>Global Game Jam 2020</h3>
                <p class="subtitle2">January 2020 · Themed 'Repair' · Team of 3</p>
            </div>

            <div class="timeline-position-details">
                <p>For this Global Game Jam, I decided to meet up with some co-workers from TT Games. We were inspired by games like <a href="https://littlealchemy.com/">'Little Alchemy'</a> where the player has to combine elements together to discover new elements, and <a href="https://www.nintendo.co.uk/Games/Nintendo-Switch-games/Animal-Crossing-New-Horizons-1438623.html">'Animal Crossing: New Horizons'</a> to create a game where you create the life to populate a desolate world.</p>

                <p>We worked in <b>Unity</b>, where I created the <b>inventory</b>, <b>crafting</b>, and <b>world interaction</b> systems, along with the shader to warp the world over the horizon.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/snoot" target="_blank" class="timeline-media">
                <img src="@Assets["media/snoot/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Snoot'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">Snoot</p>
                    <p class="timeline-media-body-description">Restore life to a desolate world by exploring a sandbox of crafting recipes. On your adventure you will bring rain, grass, bugs, birds, and bees.</p>
                </div>
            </a>

            <div class="timeline-position palette-magenta">
                <h3>Global Game Jam 2019</h3>
                <p class="subtitle2">January 2019 · Themed 'Home' · Team of 6</p>
            </div>

            <div class="timeline-position-details">
                <p>For this Global Game Jam, I connect with a team of developers from all over the industry. After a chaotic and fun ideas generation session, we decided to make a game that emulates the experience of digging around in the cracks of your sofa.</p>

                <p>I implemented a <b>tutorial system</b> to introduce the players to the mechanics and a <b>dialogue system</b> that would guide players through the interactive experience.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/sofarfromhome" target="_blank" class="timeline-media">
                <img src="@Assets["media/sofarfromhome/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'So Far from Home'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">So Far from Home</p>
                    <p class="timeline-media-body-description">Searching between the sofa cushions for a missing key, but what else is down there? Uncover memories from a time well spent.</p>
                </div>
            </a>

            <div class="timeline-position palette-magenta">
                <h3>Global Game Jam 2018</h3>
                <p class="subtitle2">January 2018 · Themed 'Transmission' · Team of 5</p>
            </div>

            <div class="timeline-position-details">
                <p>For this Global Game Jam, I went to the Unity office in Brighton and formed a team. This was my first game jam in a team, and it’s an experience I will never forget. We decided to create a game where the player would remote control a drone via a the space station CCTV system.</p>

                <p>I implemented the <b>character controller</b>, <b>camera controllers</b>, <b>glitching UI</b>, and <b>transitions between cameras</b>.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/lostinstatic" target="_blank" class="timeline-media">
                <img src="@Assets["media/lostinstatic/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Lost in Static'." />
                <div class="timeline-media-body">
                    <p class="timeline-media-body-name">Lost in Static</p>
                    <p class="timeline-media-body-description">As an evil AI runs rampant on a space station, it is up to you to control a drone capable of shutting her down.</p>
                </div>
            </a>

        </div>
    </section>
    -->

</article>
