@model ResumeViewModel

@{
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@inject IContentService ContentService;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resume</title>

	<link rel="stylesheet" asp-append-version="true" href="~/css/resume.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
</head>
<body>
	<div id="content">
		<div class="background">
		</div>

		<table class="document">
			<thead>
				<tr>
					<td>
						<div class="header-space">&nbsp;</div>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="content">
						
							<div class="group-page group-page-solo">
								<div style="height: 32px"></div>

								<h1 class="coverletter-title">Anthony Marmont</h1>
							
								<div style="height: 64px"></div>

								<p>Greetings,</p>

								@if (!string.IsNullOrEmpty(Model.Company))
								{
									@if (!string.IsNullOrEmpty(Model.Position))
									{
										<p>I am Anthony Marmont, a programmer applying for the position of <b>@Model.Position</b> at <b>@Model.Company</b>.</p>
									}
									else
									{
										<p>I am Anthony Marmont, a programmer applying for a position at <b>@Model.Company</b>.</p>
									}
								}
								else
								{
									<p>I am Anthony Marmont.</p>
								}

								<ul>
									<li>I am a <b>programmer</b></li>
									<li><b>@ContentService.ProfessionalExperience</b> professional experience</li>
									<li>Passionate about <b>games development</b></li>
								</ul>

								<ul>
									<li><b>Full-Stack Developer</b> with game client, meta-game server and real-time game server knowledge</li>
									<li><b>Systems Engineer</b> for performance-critical and complex systems</li>
									<li><b>Tools Programmer</b> for design, game data authoring and asset management</li>
									<li><b>Infrastructure Programmer</b> for distributed cloud microservices and dedicated servers</li>
								</ul>

								<ul>
									<li>Strong understanding of <b>C#</b> and <b>Unity</b></li>
									<li>Strong understanding of <b>Git</b> (<code>rebase</code>, <code>ref-log</code>, the whole lot)</li>
								</ul>
							
								<ul>
									<li>Experience shipping <b>2 high-profile commercial titles</b> (<i><a href="https://store.steampowered.com/app/350050/EITR/">Eitr</a></i> and <i><a href="https://play.google.com/store/apps/details?id=com.ttgames.legoswb">LEGO® Star Wars™ Battles</a></i>)</li>
									<li>Experience operating <b>live-ops</b> on the mobile <b>real-time strategy</b> <i><a href="https://play.google.com/store/apps/details?id=com.ttgames.legoswb">LEGO® Star Wars™ Battles</a></i></li>
								</ul>

								<ul>
									<li>Experience owning and <b>driving feature development</b> and project management</li>
									<li>Experience conducting <b>project management</b> with <b>agile methodologies</b></li>
								</ul>

								<div style="height: 16px"></div>

								<p>For your consideration,<br />Anthony Marmont</p>

								<div style="height: 170px"></div>
								
								<p class="badge-bar badge-bar-social">
									<a class="mark mark-rounded mark-website" target="_blank" href="https://anthonymarmont.com/portfolio"></a>
									<a class="mark mark-rounded mark-youtube" target="_blank" href="https://www.youtube.com/channel/UCEEI1m2TCso1OGWEHvHS20g"></a>
									<a class="mark mark-rounded mark-itch-io" target="_blank" href="https://fydar.itch.io/"></a>
									<a class="mark mark-rounded mark-linkedin" target="_blank" href="https://www.linkedin.com/in/anthonymarmont/"></a>
									<a class="mark mark-rounded mark-github" target="_blank" href="https://github.com/Fydar"></a>
									<a class="mark mark-rounded mark-twitter" target="_blank" href="https://twitter.com/Fydarus"></a>
								</p>
							</div>

							<div class="group-page group-page-solo">
								
								<h1>Projects</h1>
								@for (int i = 0; i < ContentService.Categories.Count; i++)
								{
									var category = ContentService.Categories[i];

									int missing = 0;
									int counter = 0;

									@for (int j = 0; j < category.Projects.Count; j++)
									{
										var project = category.Projects[j];

										if (!project.ShowOnResume || counter >= 4)
										{
											missing++;
											continue;
										}
									}
						
									<div style="display: flex;">
										<div style="width: 50%">
											<h2 style="margin-bottom: 0;">@category.DisplayName</h2>
										</div>
										@if (missing > 0)
										{
											<div style="width: 50%">
												<a class="readmore" href="https://anthonymarmont.com/portfolio">see <b>@missing</b> more @(missing == 1 ? "project" : "projects")</a>
											</div>
										}
									</div>
									
									<div style="margin-top: 10px;" class="card-grid @(category.Projects.Count > 3 ? "card-grid-sm" : "")">

										@for (int j = 0; j < category.Projects.Count; j++)
										{
											var project = category.Projects[j];

											if (!project.ShowOnResume || counter >= 8)
											{
												continue;
											}
											counter++;

											<div class="card">
												<div class="card-image">
													<div class="imageHolder">
														<a asp-controller="Portfolio" asp-action="Item" asp-route-identifier="@project.Slug">
															<img src="~/@ResourceHelper.TransformName(project.FeaturedImage, "medium")" loading="lazy" class="overlay"
																	style='object-fit: cover;' />
														</a>
													</div>
												</div>

												<div class="card-header">
													@if (project.Links != null && project.Links.Length != 0)
													{
														<div class="overlay-bottom-right badge-bar badge-bar-carditems">
															@foreach (var link in project.Links)
															{
																<a class="mark mark-subtle mark-@link.Icon.ToLower()" target="_blank" href="@link.Url"></a>
															}
														</div>
													}
													<p class="card-title">
														<a asp-controller="Portfolio" asp-action="Item" asp-route-identifier="@project.Slug">
															@project.ProjectName.Replace("MMO ", "")
														</a>
													</p>
												</div>

												<div class="card-body">
													<div class="card-small">
														@if (project.Badges != null && project.Badges.Length != 0)
														{
															@foreach (var link in project.Badges)
															{
																if (link.Tooltip == "Team"
																	|| link.Tooltip == "Location"
																	 || link.Tooltip == "Theme")
																{
																	continue;
																}
																<div><span class="mark mark-subtle mark-pin-@link.Icon.ToLower()"></span> @link.Content</div>
															}
														}
													</div>
												</div>
											</div>
										}
									</div>
								}
							</div>

							<div class="group-page group-page-solo">
								<h1>Professional Experience</h1>

								<p><b>@ContentService.ProfessionalExperience</b></p>

								<vc:timeline timeline="new TimelineViewModel(
									ContentService.Companies.Where(company => company.DisplayOnResume && company.IsProfessional)
								)" />
							</div>
						
							<div class="group-page">

								<h1>Skills</h1>

								<div class="grid-skills">
									<div class="grid-skills-column">
										<h4 class="tagheading">Frontend</h4>

										<ul>
											<li>Unity, C#</li>
											<li>Gameplay Programming</li>
											<li>Tools Programming</li>
											<li>Technical Art</li>
											<li>UI / UX</li>
										</ul>
									</div>
									<div class="grid-skills-column">
										<h4 class="tagheading">Backend</h4>

										<ul>
											<li>Database Infrastructure</li>
											<li>Scaling and Security</li>
											<li>ASP.NET Core (MVC)</li>
											<li>Blazor Web-Tools</li>
											<li>Unit/Integration Testing</li>
										</ul>
									</div>
								</div>

								<h1>Hobbyist Experience</h1>

								<vc:timeline timeline="new TimelineViewModel(
									ContentService.Companies.Where(company => company.DisplayOnResume && !company.IsProfessional), false
								)" />

								<h1>Education</h1>

								<vc:timeline timeline="new TimelineViewModel(
									ContentService.Colleges.Where(college => college.DisplayOnResume)
								)" />

							</div>

						</div>


					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<div class="footer-space">&nbsp;</div>
					</td>
				</tr>
			</tfoot>
		</table>

		<div class="header"></div>
		<div class="footer"></div>
	</div>
</body>
</html>
