<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@{
		string title = ViewData["Title"] as string;
	}
	@if (string.IsNullOrEmpty(title))
	{
		<title>Anthony Marmont</title>
	}
	else
	{
		<title>@ViewData["Title"] - Anthony Marmont</title>
	}
	<link rel="stylesheet" href="~/css/main.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
</head>
<body style="background-color: #edf0f2;">

	<div class="parallax-container parallax-anchor-top" style="height: 600px; max-height: 50vh; overflow: hidden; position: relative;">

		@if (ViewData.TryGetValue("FeaturedImage", out var featuredImage))
		{
			<img src="/@featuredImage" class="parallax-layer" style="image-rendering: pixelated; object-fit: cover; width: 100%; min-height: 100%; top: -141.402px;">
		}
		else
		{
			<img src="/img/minijam-40-hunters-header.png" class="parallax-layer" style="image-rendering: pixelated; object-fit: cover; width: 100%; min-height: 100%; top: -141.402px;">
		}

	</div>

	<div class="navbar">

		<div class="container navbar">

			<a class="logo" asp-controller="Portfolio" asp-action="Index">
				<div class="text-logo">Anthony Marmont</div>
			</a>

			<div style="flex-grow: 100000;"></div>

			<div class="navbar-grouping">
				<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Portfolio" ? "active" : "")" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
				<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Resume" ? "active" : "")" asp-controller="Resume" asp-action="Index" asp>Resume</a>
			</div>

		</div>
	</div>

	<div style="min-height: 50vh;">

		<div class="container">

			<div class="sheet" style="padding-top: 50px;">
				@RenderBody()
			</div>

		</div>

	</div>

	<div class="website-footer">

		<div class="container website-footer">

			<p>&copy; 2020 Anthony Marmont</p>

		</div>
	</div>

	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
	<script src="~/lib/parallax.js/parallax.min.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
