@using Portfolio.Instance.Services.PageMetaProvider;

@model object;

@inject IEnumerable<IPageMetaTransformer> pageMetaTransformers;

<!DOCTYPE html>
<html lang="en">
<head>
	@{
		string title = ViewData["Title"] as string;
	}
	@if (string.IsNullOrEmpty(title))
	{
		<title>Anthony Marmont</title>
	}
	else
	{
		<title>@ViewData["Title"] - Anthony Marmont</title>
	}

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	@{
		var pageMeta = new PageMetaCollection();
		pageMeta.SetModel(Model.GetType(), Model);

		foreach (var transfomer in pageMetaTransformers)
		{
			foreach (var meta in transfomer.TransformMetaItems(pageMeta))
			{
				<meta name="@meta.Name" @foreach (var kvp in meta.Values) { <text>
							@kvp.Key="@kvp.Value"
							</text>  } />
			}
		}
	}

	<link rel="stylesheet" asp-append-version="true" href="~/css/main.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
</head>
<body class="light">

	<script>
		var currentTheme = localStorage.getItem("theme");
		if (currentTheme === null) {
			const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
			if (prefersDarkScheme.matches) {
				currentTheme = "dark"
			}
			else {
				currentTheme = "light";
			}
			localStorage.setItem("theme", currentTheme);
		}
		if (currentTheme == "dark") {
			document.body.classList.remove("light");
			document.body.classList.add("dark");
		} else {
			document.body.classList.add("light");
			document.body.classList.remove("dark");
		}
	</script>

	@{
		string pageTitle = ViewData["Title"] as string;
		bool fullscreen = string.IsNullOrEmpty(pageTitle);
	}

	<section class="navbar" id="navbar">
		<div class="navbar-grouping">
			<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Portfolio" ? "active" : "")" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
			<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Contact" ? "active" : "")" asp-controller="Contact" asp-action="Index" asp>Contact</a>
		</div>

		<div class="splitter"></div>

		<div class="navbar-grouping">
			<button class="btn btn-theme-toggle">T</button>
		</div>
	</section>

	<section class="profile">
		<div class="profile-background"></div>

		<div class="container container-sm">
			<div class="media">
				<div class="media-item">
					<!-- Character Model -->
					<div class="scene" style="		padding: 16px 30px 16px 30px;"><div class="mesh anim-rotate-vertical fsa-relative" style="width: 138px; height: 345px; transform: rotateX(-20deg) rotateY(40deg)"><div class="element" style="transform: scale3d(1, -1, 1) translate3d(0, -345px, -57.5px)"><div class="surface" style="transform: translate3d(0, 0, 23px)"><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 92px);background-color: #665351;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(115px, 92px);background-color: #665351;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 69px);background-color: #2E3046;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 92px);background-color: #2E3046;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(0px, 115px);background-color: #2E3046;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(115px, 115px);background-color: #2E3046;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 92px);background-color: #34364F;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 92px);background-color: #34364F;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 115px);background-color: #34364F;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(23px, 138px);background-color: #34364F;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(0px, 161px);background-color: #34364F;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 184px);background-color: #130F0E;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 207px);background-color: #130F0E;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 207px);background-color: #130F0E;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 230px);background-color: #130F0E;"></div><div class="face" style="width: 23px;height: 92px;transform: translate(115px, 230px);background-color: #130F0E;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 299px);background-color: #130F0E;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 322px);background-color: #130F0E;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 0px);background-color: #161616;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 0px);background-color: #161616;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(23px, 23px);background-color: #0B0B0B;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 0px);background-color: #191919;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(46px, 23px);background-color: #0E0E0E;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(92px, 23px);background-color: #0E0E0E;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(69px, 138px);background-color: #383A55;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(46px, 161px);background-color: #383A55;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(69px, 23px);background-color: #0F0F0F;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, 0px)"><div class="face" style="width: 46px;height: 23px;transform: translate(23px, 92px);background-color: #A38581;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(23px, 115px);background-color: #4A4C70;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(23px, 161px);background-color: #54567F;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(46px, 207px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 230px);background-color: #1E1817;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(0px, 253px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(69px, 276px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 299px);background-color: #1E1817;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(46px, 230px);background-color: #2C2C2C;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(46px, 276px);background-color: #383838;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -92px)"><div class="face" style="width: 23px;height: 46px;transform: translate(0px, 23px);background-color: #7A6461;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(115px, 23px);background-color: #7A6461;"></div></div><div class="surface" style="transform: translate3d(0, 0, 69px)"><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 92px);background-color: #CCA7A2;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(115px, 92px);background-color: #CCA7A2;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(46px, 161px);background-color: #CCA7A2;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(0px, 115px);background-color: #5D608D;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(115px, 115px);background-color: #5D608D;"></div><div class="face" style="width: 69px;height: 23px;transform: translate(23px, 69px);background-color: #696C9F;"></div><div class="face" style="width: 46px;height: 69px;transform: translate(23px, 92px);background-color: #696C9F;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(0px, 161px);background-color: #696C9F;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 207px);background-color: #261F1D;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(115px, 276px);background-color: #464646;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 299px);background-color: #464646;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(23px, 23px);background-color: #171717;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(46px, 23px);background-color: #1C1C1C;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(92px, 23px);background-color: #1C1C1C;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(69px, 23px);background-color: #1F1F1F;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 69px);background-color: #7074AB;"></div><div class="face" style="width: 46px;height: 69px;transform: translate(69px, 92px);background-color: #7074AB;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(92px, 161px);background-color: #7074AB;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(69px, 322px);background-color: #383838;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -184px)"><div class="face" style="width: 46px;height: 46px;transform: translate(0px, 23px);background-color: #5E618F;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(92px, 23px);background-color: #646899;"></div></div><div class="surface" style="transform: translate3d(0, 0, 46px)"><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 207px);background-color: #130F0E;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -207px)"><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 0px);background-color: #161211;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 23px);background-color: #161211;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(92px, 23px);background-color: #161211;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(0px, 46px);background-color: #161211;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 69px);background-color: #7A6461;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 92px);background-color: #212121;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -230px)"><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 0px);background-color: #161211;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 0px);background-color: #161211;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 23px);background-color: #161211;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(115px, 23px);background-color: #161211;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(115px, 46px);background-color: #212121;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 69px);background-color: #212121;"></div></div><div class="surface" style="transform: translate3d(0, 0, 92px)"><div class="face" style="width: 23px;height: 46px;transform: translate(0px, 230px);background-color: #383838;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(115px, 230px);background-color: #383838;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 276px);background-color: #261F1D;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 276px);background-color: #261F1D;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 322px);background-color: #261F1D;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 0px);background-color: #2C2C2C;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 0px);background-color: #2C2C2C;"></div><div class="face" style="width: 69px;height: 23px;transform: translate(23px, 207px);background-color: #CCA7A2;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 230px);background-color: #CCA7A2;"></div><div class="face" style="width: 69px;height: 23px;transform: translate(46px, 253px);background-color: #CCA7A2;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 276px);background-color: #CCA7A2;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 0px);background-color: #333333;"></div></div><div class="surface" style="transform: translate3d(0, 0, 0px)"><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 207px);background-color: #130F0E;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 230px);background-color: #130F0E;"></div><div class="face" style="width: 115px;height: 46px;transform: translate(0px, 253px);background-color: #130F0E;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 299px);background-color: #130F0E;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -253px)"><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 0px);background-color: #161211;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 92px);background-color: #161211;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -299px)"><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 0px);background-color: #221B1A;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 69px);background-color: #221B1A;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -322px)"><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 0px);background-color: #221B1A;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 23px);background-color: #221B1A;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(115px, 23px);background-color: #221B1A;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(69px, 69px);background-color: #221B1A;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 92px);background-color: #221B1A;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 92px);background-color: #221B1A;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 46px);background-color: #3F3F3F;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(92px, 46px);background-color: #3F3F3F;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, -23px)"><div class="face" style="width: 69px;height: 23px;transform: translate(23px, 0px);background-color: #232323;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(23px, 23px);background-color: #121212;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 69px);background-color: #4A4C70;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(46px, 69px);background-color: #54567F;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 207px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 230px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(92px, 253px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 299px);background-color: #1E1817;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(69px, 299px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 322px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(69px, 322px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(69px, 207px);background-color: #A38581;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(46px, 322px);background-color: #2C2C2C;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, 0px)"><div class="face" style="width: 23px;height: 69px;transform: translate(23px, 23px);background-color: #1A1A1A;"></div><div class="face" style="width: 23px;height: 69px;transform: translate(92px, 23px);background-color: #1A1A1A;"></div><div class="face" style="width: 46px;height: 69px;transform: translate(46px, 23px);background-color: #1E1E1E;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -23px)"><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 69px);background-color: #272727;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 69px);background-color: #272727;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 69px);background-color: #2D2D2D;"></div></div><div class="surface" style="transform: translate3d(0, 0, 115px)"><div class="face" style="width: 23px;height: 46px;transform: translate(23px, 253px);background-color: #261F1D;"></div><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 299px);background-color: #261F1D;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 322px);background-color: #261F1D;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 207px);background-color: #383838;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, -46px)"><div class="face" style="width: 23px;height: 46px;transform: translate(92px, 253px);background-color: #1A1514;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -345px)"><div class="face" style="width: 92px;height: 23px;transform: translate(23px, 23px);background-color: #221B1A;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(23px, 69px);background-color: #221B1A;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(46px, 92px);background-color: #221B1A;"></div><div class="face" style="width: 69px;height: 23px;transform: translate(23px, 46px);background-color: #323232;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, -46px)"><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 184px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 207px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 322px);background-color: #1E1817;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(46px, 184px);background-color: #A38581;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -299px)"><div class="face" style="width: 69px;height: 23px;transform: translate(46px, 92px);background-color: #161211;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, -69px)"><div class="face" style="width: 23px;height: 23px;transform: translate(69px, 322px);background-color: #1A1514;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, -92px)"><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 184px);background-color: #1A1514;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(0px, 207px);background-color: #1A1514;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 322px);background-color: #1A1514;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(46px, 184px);background-color: #8E7471;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(46px, 322px);background-color: #272727;"></div></div><div class="surface" style="transform: translate3d(0, 0, 92px)"><div class="face" style="width: 23px;height: 23px;transform: translate(69px, 322px);background-color: #130F0E;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, -115px)"><div class="face" style="width: 69px;height: 23px;transform: translate(23px, 0px);background-color: #1E1E1E;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(23px, 23px);background-color: #131313;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 69px);background-color: #414362;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(46px, 69px);background-color: #4E5177;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(23px, 207px);background-color: #1A1514;"></div><div class="face" style="width: 23px;height: 92px;transform: translate(0px, 230px);background-color: #1A1514;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(69px, 276px);background-color: #1A1514;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(69px, 299px);background-color: #1A1514;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(23px, 322px);background-color: #1A1514;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(69px, 207px);background-color: #8E7471;"></div><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 207px);background-color: #272727;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, -92px)"><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 207px);background-color: #2C2C2C;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -230px)"><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 92px);background-color: #323232;"></div></div><div class="surface" style="transform: translate3d(0, 0, 46px)"><div class="face" style="width: 23px;height: 23px;transform: translate(92px, 322px);background-color: #261F1D;"></div></div><div class="surface" style="transform: rotateY(-90deg) translate3d(0px, 0, -138px)"><div class="face" style="width: 46px;height: 23px;transform: translate(23px, 92px);background-color: #8E7471;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(23px, 115px);background-color: #414362;"></div><div class="face" style="width: 46px;height: 23px;transform: translate(23px, 161px);background-color: #4E5177;"></div><div class="face" style="width: 23px;height: 92px;transform: translate(23px, 230px);background-color: #1A1514;"></div><div class="face" style="width: 46px;height: 46px;transform: translate(46px, 230px);background-color: #272727;"></div><div class="face" style="width: 23px;height: 46px;transform: translate(46px, 276px);background-color: #313131;"></div></div><div class="surface" style="transform: rotateX(90deg) translate3d(0, 0, -276px)"><div class="face" style="width: 23px;height: 23px;transform: translate(115px, 69px);background-color: #323232;"></div></div></div></div></div>
				</div>
				<div class="media-body" style="text-align: center; width: 100%;">
					<h1 style="font-size: 2.5rem; margin: 1.5rem 0 0.5rem 0;">Anthony Marmont</h1>
					<p class="badge-bar badge-bar-social">
						<a class="badge" target="_blank" href="https://www.youtube.com/channel/UCEEI1m2TCso1OGWEHvHS20g"><span class="pin pin-youtube"></span></a>
						<a class="badge" target="_blank" href="https://fydar.itch.io/"><span class="pin pin-itch-io"></span></a>
						<a class="badge" target="_blank" href="https://github.com/Fydar"><span class="pin pin-github"></span></a>
						<a class="badge" target="_blank" href="https://www.linkedin.com/in/anthonymarmont/"><span class="pin pin-linkedin"></span></a>
					</p>
				</div>
			</div>
		</div>
	</section>

	@RenderBody()

	<section class="website-footer">
		<div class="container">
			<p>&copy; 2020 Anthony Marmont</p>
		</div>
	</section>

	<script>
		// Button for changing the theme
		const btn = document.querySelector(".btn-theme-toggle");

		function UpdateEmbeds() {
			const itchEmbeds = document.querySelectorAll(".embed-itch");
			for (var i = 0; i < itchEmbeds.length; i++) {
				var itchEmbed = itchEmbeds[i];
				var currentTheme = localStorage.getItem("theme");

				var src = itchEmbed.getAttribute("src");
				src = src.replace("?dark=true", "");
				if (currentTheme != "light") {
					src = src + "?dark=true";;
				}
				itchEmbed.setAttribute("src", src);
			}
		}
		UpdateEmbeds();

		btn.addEventListener("click", function () {
			var currentTheme = localStorage.getItem("theme");

			if (currentTheme == "dark") {
				currentTheme = "light";

				document.body.classList.add("light");
				document.body.classList.remove("dark");
			}
			else {
				currentTheme = "dark";

				document.body.classList.remove("light");
				document.body.classList.add("dark");
			}

			localStorage.setItem("theme", currentTheme);
			UpdateEmbeds();
		});
	</script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
