@using Portfolio.Instance.Services.PageMetaProvider;

@model object;

@inject IEnumerable<IPageMetaTransformer> pageMetaTransformers;

<!DOCTYPE html>
<html lang="en">
<head>
	@{
		string title = ViewData["Title"] as string;
	}
	@if (string.IsNullOrEmpty(title))
	{
		<title>Anthony Marmont</title>
	}
	else
	{
		<title>@ViewData["Title"] - Anthony Marmont</title>
	}

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	@{
		var pageMeta = new PageMetaCollection();
		pageMeta.SetModel(Model.GetType(), Model);

		foreach (var transfomer in pageMetaTransformers)
		{
			foreach (var meta in transfomer.TransformMetaItems(pageMeta))
			{
				<meta name="@meta.Name" content="@meta.Content" />
			}
		}
	}

	<link rel="stylesheet" href="~/css/main.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
</head>
<body style="background-color: #edf0f2; margin: 0; padding: 0;">
	@{
		string pageTitle = ViewData["Title"] as string;
		string headerStyle = ViewData["HeaderStyle"] as string;
		bool fullscreen = string.IsNullOrEmpty(pageTitle);
	}

	@if (headerStyle == "BlogStyle")
	{
		<div class="container container-sm">
			<div class="page page-profile">
				<div class="page-section" style="text-align: center;">
					<img src="/img/profile.svg" style="margin: auto; height: 166px; margin-top: 1.75rem; margin-bottom: 0.75rem;" />
					<h1 style="font-size: 2.5rem; margin: 1.5rem 0 0.5rem 0;">Anthony Marmont</h1>
					<p class="badge-bar badge-bar-social">
						<a class="badge" target="_blank" href="https://www.youtube.com/channel/UCEEI1m2TCso1OGWEHvHS20g"><span class="pin pin-youtube"></span></a>
						<a class="badge" target="_blank" href="https://fydar.itch.io/"><span class="pin pin-itch-io"></span></a>
						<a class="badge" target="_blank" href="https://github.com/Fydar"><span class="pin pin-github"></span></a>
						<a class="badge" target="_blank" href="https://www.linkedin.com/in/anthonymarmont/"><span class="pin pin-linkedin"></span></a>
					</p>
				</div>

				<div class="page-section">
					<div class="navbar">
						<div class="navbar-grouping">
							<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Portfolio" ? "active" : "")" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
							<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Contact" ? "active" : "")" asp-controller="Contact" asp-action="Index" asp>Contact</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	}
	else
	{
		<div class="parallax-container parallax-anchor-top" style="overflow: hidden; position: relative; @(fullscreen ? "min-height: 100vh" : "")">
			@if (ViewData.TryGetValue("FeaturedImage", out var featuredImage))
			{
				<div class="parallax-layer" style="z-index: -1; width: 100%; min-height: 200%;">
					<partial name="ResourceImage" model='new ResourceImageViewModel((string)featuredImage, "fullscreen")' />
				</div>
			}
			else
			{
				<div class="parallax-layer" style="z-index: -1; width: 100%; min-height: 200%;">
					<partial name="ResourceImage" model='new ResourceImageViewModel("img/minijam-40-hunters-header.png")' />
				</div>
			}
			<div class="container container-sm">
				<div class="page page-profile">
					<div class="page-section" style="text-align: center;">
						<img src="/img/profile.svg" style="margin: auto; height: 166px; margin-top: 1.75rem; margin-bottom: 0.75rem;" />
						<h1 style="font-size: 2.5rem; margin: 1.5rem 0 0.5rem 0;">Anthony Marmont</h1>
						<p class="badge-bar badge-bar-social">
							<a class="badge" target="_blank" href="https://www.youtube.com/channel/UCEEI1m2TCso1OGWEHvHS20g"><span class="pin pin-youtube"></span></a>
							<a class="badge" target="_blank" href="https://fydar.itch.io/"><span class="pin pin-itch-io"></span></a>
							<a class="badge" target="_blank" href="https://github.com/Fydar"><span class="pin pin-github"></span></a>
							<a class="badge" target="_blank" href="https://www.linkedin.com/in/anthonymarmont/"><span class="pin pin-linkedin"></span></a>
						</p>
					</div>

					<div class="page-section">
						<div class="navbar">
							<div class="navbar-grouping">
								<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Portfolio" ? "active" : "")" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
								<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Contact" ? "active" : "")" asp-controller="Contact" asp-action="Index" asp>Contact</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	}

	<div class="navbar">

	</div>

	<div style="min-height: 80vh; padding-top: 32px;">
		@RenderBody()
	</div>

	<div class="website-footer">
		<div class="container">
			<p>&copy; 2020 Anthony Marmont</p>
		</div>
	</div>

	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
