@using Portfolio.Instance.Services.PageMetaProvider;

@model object;

@inject IEnumerable<IPageMetaTransformer> pageMetaTransformers;

<!DOCTYPE html>
<html lang="en">
<head>
	@{
		string title = ViewData["Title"] as string;
	}
	@if (string.IsNullOrEmpty(title))
	{
		<title>Anthony Marmont</title>
	}
	else
	{
		<title>@ViewData["Title"] - Anthony Marmont</title>
	}

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	@{
		var pageMeta = new PageMetaCollection();
		pageMeta.SetModel(Model.GetType(), Model);

		foreach (var transfomer in pageMetaTransformers)
		{
			foreach (var meta in transfomer.TransformMetaItems(pageMeta))
			{
				<meta name="@meta.Name" @foreach (var kvp in meta.Values) {
					<text>
						@kvp.Key="@kvp.Value"
					</text>
				}  />
			}
		}
	}

	<link rel="stylesheet" asp-append-version="true" href="~/css/main.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
</head>
<body class="light">

	<script>
		var currentTheme = localStorage.getItem("theme");
		if (currentTheme === null) {
			const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
			if (prefersDarkScheme.matches) {
				currentTheme = "dark"
			}
			else {
				currentTheme = "light";
			}
			localStorage.setItem("theme", currentTheme);
		}
		if (currentTheme == "dark") {
			document.body.classList.remove("light");
			document.body.classList.add("dark");
		} else {
			document.body.classList.add("light");
			document.body.classList.remove("dark");
		}
	</script>

	@{
		string pageTitle = ViewData["Title"] as string;
		bool fullscreen = string.IsNullOrEmpty(pageTitle);
	}

	<section class="navbar" id="navbar">
		<div class="navbar-grouping">
			<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Portfolio" ? "active" : "")" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
			<a class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Contact" ? "active" : "")" asp-controller="Contact" asp-action="Index" asp>Contact</a>
		</div>

		<div class="splitter"></div>

		<div class="navbar-grouping">
			<button class="btn btn-theme-toggle">T</button>
		</div>
	</section>

	<div class="container container-sm">
		<div class="page page-profile">
			<div class="page-section" style="text-align: center;">
				<h1 style="font-size: 2.5rem; margin: 1.5rem 0 0.5rem 0;">Anthony Marmont</h1>
				<p class="badge-bar badge-bar-social">
					<a class="badge" target="_blank" href="https://www.youtube.com/channel/UCEEI1m2TCso1OGWEHvHS20g"><span class="pin pin-youtube"></span></a>
					<a class="badge" target="_blank" href="https://fydar.itch.io/"><span class="pin pin-itch-io"></span></a>
					<a class="badge" target="_blank" href="https://github.com/Fydar"><span class="pin pin-github"></span></a>
					<a class="badge" target="_blank" href="https://www.linkedin.com/in/anthonymarmont/"><span class="pin pin-linkedin"></span></a>
				</p>
			</div>
		</div>
	</div>

	@RenderBody()

	<section class="website-footer">
		<div class="container">
			<p>&copy; 2020 Anthony Marmont</p>
		</div>
	</section>

	<script>
		// Button for changing the theme
		const btn = document.querySelector(".btn-theme-toggle");

		function UpdateEmbeds() {
			const itchEmbeds = document.querySelectorAll(".embed-itch");
			for (var i = 0; i < itchEmbeds.length; i++) {
				var itchEmbed = itchEmbeds[i];
				var currentTheme = localStorage.getItem("theme");

				var src = itchEmbed.getAttribute("src");
				src = src.replace("?dark=true", "");
				if (currentTheme != "light") {
					src = src + "?dark=true";;
				}
				itchEmbed.setAttribute("src", src);
			}
		}
		UpdateEmbeds();

		btn.addEventListener("click", function () {
			var currentTheme = localStorage.getItem("theme");

			if (currentTheme == "dark") {
				currentTheme = "light";

				document.body.classList.add("light");
				document.body.classList.remove("dark");
			}
			else {
				currentTheme = "dark";

				document.body.classList.remove("light");
				document.body.classList.add("dark");
			}

			localStorage.setItem("theme", currentTheme);
			UpdateEmbeds();
		});
	</script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
