@layout DefaultLayout
@page "/portfolio/technicalart"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Technical Art - Fydar",
            Description = "A collection of technical art pieces I've developed.",
            CanonicalUrl = "https://fydar.dev/portfolio/technicalart",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Technical Art",
                    Item = "https://fydar.dev/portfolio/technicalart"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>


<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="professional">
            <Text>Professional</Text>
            <Content>
                <CoverGrid>

                    <Cover href="/portfolio/uno">
                        <Background>
                            <div class="blur" style="background: radial-gradient(160% 125% at 75% 60%, rgba(250,202,21,1) 2%, rgba(253,165,13,1) 12%, rgba(255,118,7,1) 26%, rgba(250,70,0,1) 36%, rgba(241,36,1,1) 43%, rgba(141,5,0,1) 77%, rgba(101,2,0,1) 100%)">
                            </div>
                            <video onloadeddata="this.classList.add('loaded');" style="mix-blend-mode: screen;" autoplay muted loop>
                                <source src="@Assets["media/uno/library.30fps.h265.mp4"]" type='video/mp4; codecs="hev1.1.2.L93.90"; profiles="isom,iso2,mp41"'>
                                <source src="@Assets["media/uno/library.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d401f"; profiles="isom,iso2,avc1,mp41"'>
                            </video>
                        </Background>
                        <Overlay>
                            <SvgSprite class="logo logo-ubisoft-uno" Link="/icons.svg?v=1#icon-ubisoft-uno" Alt="Logo for the game 'UNO™'" />
                        </Overlay>
                    </Cover>

                </CoverGrid>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="Hobbyist">
            <Text>Hobbyist</Text>
            <Content>
                <CardGrid Size="md">
                    <Card>
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="@Assets["media/breadboard/card.webp"]" alt="Preview of the breadboard diorama." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-holodrone" />
                                    <div class="column">
                                        <h3 class="card-header">Breadboard Diorama</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">Materials created in Substance Designer first and then modelled in 3DS Max.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

    </section>
</HeadingScope>
