@layout DefaultLayout
@page "/portfolio/multiplayer"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Multiplayer Engineering - Fydar",
            Description = "A collection of multiplayer games I've developed.",
            CanonicalUrl = "https://fydar.dev/portfolio/multiplayer",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Multiplayer Engineering",
                    Item = "https://fydar.dev/portfolio/multiplayer"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>


<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="professional">
            <Text>Professional</Text>
            <Content>
                <CoverGrid>

                    <Cover href="/portfolio/outrage">
                        <Background>
                            <div class="blur" style="background: radial-gradient(200% 53% at 55% 60%, rgb(235 152 243) 2%, rgb(231 193 245) 50%, rgb(201 214 249) 100%)">
                            </div>
                            <picture>
                                <img loading="lazy" width="400" height="600" src="@Assets["media/outrage/coverart.webp"]" alt="Cover art for the game 'OutRage: Fight Fest'." />
                            </picture>
                        </Background>
                    </Cover>

                    <Cover href="/portfolio/legostarwarsbattles">
                        <Background>
                            <div class="blur" style="background: radial-gradient(180% 60% at 50% 52%, #0d1f57, #040510)">
                            </div>
                            <picture>
                                <img loading="lazy" width="400" height="600" src="@Assets["media/legostarwarsbattles/coverart.webp"]" alt="Cover art for the game 'LEGO® Star Wars™ Battles'." />
                            </picture>
                        </Background>
                    </Cover>

                </CoverGrid>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="Hobbyist">
            <Text>Hobbyist</Text>
            <Content>
                <CardGrid Size="md">
                    <Card href="/portfolio/voxelmultiplayer">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="@Assets["media/voxelmultiplayer/card.webp"]" alt="Preview of the Voxel Multiplayer, showing the player character atop of a mountain." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-voxelmultiplayer" />
                                    <div class="column">
                                        <h3 class="card-header">Voxel Multiplayer</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">A voxel-art multiplayer PvP game with a custom voxel-art terrain generator for rendering large worlds.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/pewpew">
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-network-right-solid" />
                                    <div class="column">
                                        <h3 class="card-header">Pew Pew</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">A 20v20 .io style browser game made in 48 hours using <b>ASP.NET Core</b> and hosted in <b>AWS</b>.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

    </section>
</HeadingScope>
