@layout DefaultLayout
@page "/portfolio/gameplay"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Gameplay Programming - Fydar",
            Description = "A collection of gameplay I've developed.",
            CanonicalUrl = "https://fydar.dev/portfolio/gameplay",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Gameplay Programming",
                    Item = "https://fydar.dev/portfolio/gameplay"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>


<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="professional">
            <Text>Professional</Text>
            <Content>
                <p>Throughout my career I have always been able to rely on my gameplay programming.</p>

                <CoverGrid>

                    <Cover_UNO />
                    <Cover_Outrage />
                    <Cover_Eitr />

                </CoverGrid>
            </Content>
        </Heading>


        <Heading Level="2" Identifier="hobbyist">
            <Text>Hobbyist</Text>
            <Content>

                <p>Although I haven't always been a gameplay programmer, that doesn't stop me from doing it! I'm always working on personal projects or game jams.</p>

                <p>Many of my game jam projects are playable in-browser at my <a href="play">Play Hub</a>.</p>

                <AppIconGrid>
                    <AppIcon href="/play/astralswarm" Link="/icons.svg?v=1#icon-astralswarm" Hue="0deg" />
                    <AppIcon href="/play/astralelites" Link="/icons.svg?v=1#icon-astralelites" Hue="30deg" />
                    <AppIcon href="/play/miniminer" Link="/icons.svg?v=1#icon-miniminer" Hue="120deg" />
                    <AppIcon href="/play/lilypadleap" Link="/icons.svg?v=1#icon-lilypadleap" Hue="110deg" />
                    <AppIcon href="/play/raidhealersimulator" Link="/icons.svg?v=1#icon-raidhealersimulator" Hue="100deg" />
                    <AppIcon href="/play/snoot" Link="/icons.svg?v=1#icon-snoot" Hue="50deg" />
                    <AppIcon href="/play/cakedodge" Link="/icons.svg?v=1#icon-cakedodge" Hue="230deg" />
                    <AppIcon href="/play/thedwellers" Link="/icons.svg?v=1#icon-thedwellers" Hue="180deg" />
                    <AppIcon href="/play/thenewearthconflict" Link="/icons.svg?v=1#icon-thenewearthconflict" Hue="150deg" />
                    <AppIcon href="/play/lostblues" Link="/icons.svg?v=1#icon-lostblues" Hue="200deg" />
                    <AppIcon href="/play/roadtonorthstead" Link="/icons.svg?v=1#icon-roadtonorthstead" Hue="50deg" />
                </AppIconGrid>

                <CardGrid Size="md">
                    <Card href="/portfolio/miniminer">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="@Assets["media/miniminer/card.webp"]" alt="Preview of the game 'Mini Miner' showing a puzzle." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-miniminer" />
                                    <div class="column">
                                        <h3 class="card-header">Mini Miner</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The Game Boy demake of the Nintendo DS <i>Pokémon Diamond and Pearl</i> underground mining minigame.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/astralelites">
                        <FeaturedImage>
                            <picture>
                                <SvgSprite class="card-image" Link="/icons.svg?v=1#illustration-astralelites" alt="Preview of the game 'Astral Elites' with a spaceship flying around and destroying asteroids." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-astralelites" />
                                    <div class="column">
                                        <h3 class="card-header">Astral Elites</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The physics-based and fast-paced asteroid clone for the modern era.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/raidhealersimulator">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="@Assets["media/raidhealersimulator/card.webp"]" alt="Preview of the Raid Healer Simulator game." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-raidhealersimulator" />
                                    <div class="column">
                                        <h3 class="card-header">Raid Healer Simulator</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The UI-only simulator of the raid healer experience featuring verbal abuse.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/snoot">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="@Assets["media/snoot/keyart-4x3-400x300.webp"]" alt="Preview of the game 'Snoot' featuring the protagonist in the world with signs of life." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-snoot" />
                                    <div class="column">
                                        <h3 class="card-header">Snoot</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The cute crafting game to restore nature and life to the world.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/thenewearthconflict">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="@Assets["media/thenewearthconflict/card.webp"]" alt="A preview of the game 'The New Earth Conflict' featuring the player ship engaging in combat." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-thenewearthconflict" />
                                    <div class="column">
                                        <h3 class="card-header">The New Earth Conflict</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">A realtime space battle where you take control over a battleship and pilot it into battle against an AI team.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/thedwellers">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="@Assets["media/thedwellers/card.webp"]" alt="Preview of the game 'The Dwellers'" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-thedwellers" />
                                    <div class="column">
                                        <h3 class="card-header">The Dwellers</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">A 3D dungeon crawler game demo with a full RPG item system, featuring a wide range of weapons and other equipment.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

    </section>
</HeadingScope>
