@model StaticPageBreadcrumbs;

<div class="container">
  <section class="breadcrumb-bar">
      @for (int i = 0; i < Model.Breadcrumbs.Length; i++)
      {
        var item = Model.Breadcrumbs[i];

        if (string.IsNullOrEmpty(item.PageUrl))
        {
          <span class="breadcrumb @(i == Model.Breadcrumbs.Length - 1 ? "breadcrumb-active" : "")">@item.Text</span>
        }
        else
        {
          <a class="breadcrumb @(i == Model.Breadcrumbs.Length - 1 ? "breadcrumb-active" : "")" href="@item.PageUrl">@item.Text</a>
        }

        if (i != Model.Breadcrumbs.Length - 1)
        {
          <div class="breadcrumb-divider">/</div>
        }
      }
  </section>
</div>
